name: Module-5

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: ubuntu-lates

    - name: Install nginx
      run: sudo apt install nginx

 
